
<div style = "background-color: #98FFB3">
  <div class="row" style = "height: 400px;">
    <div class = "col-3">
    </div>

    <div class="col-md-6 bg-white">
      <div class = "row" style = "height: 50px;">

      </div>

      <h1 class='text-center'>Welcome to Plant-Clinique</h1>
      
      
      <div id="clearance" class="sign-in">

        <%= render partial: '/sessions/form' -%>

      </div>
      
    </div>
    <div class = "col-3">
    </div>
  </div>
</div>