<!DOCTYPE html>
<html>

<div class = "row" style = "height: 50px;"></div>

  <div >
    <div class="row" style = "height: 500px;">
      <div class = "col-3">
      </div>

      <div class="col-md-6 bg">
      
        <div class = "row" style = "height: 100px;">
        </div>

        <h1 class='text-center' style="color:#ffc107;text-shadow: 0 0 3px #58D68D, 0 0 5px #212F3D ;">Welcome to Plant-Clinique</h1> 
        
        <div id="clearance" class="sign-in">
          <%= render partial: '/sessions/form' -%>
        </div>

      </div>
    </div>
    <div class = "col-3">
    </div>
  </div>      

<div class = "row" style = "height: 450px;"></div>

<body>
        <div class="page">
            <div class="anim">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </body>


</html>





