<!DOCTYPE html>
<html>

<main>
  <div style = "background-color: #98FFB3">
    <div class="row" style = "height: 500px;">
      <div class = "col-3">
      </div>

      <div class="col-md-6 bg">
      
        <div class = "row" style = "height: 100px;">
        </div>

        <h1 class='text-center' style="color:yellow;">Welcome to Plant-Clinique</h1> 
        
        <div id="clearance" class="sign-in">
          <%= render partial: '/sessions/form' -%>
        </div>

      </div>
    </div>
    <div class = "col-3">
    </div>
  </div>      
</main>

<div class = "row" style = "height: 450px;"></div>

<script>
  var canvas = document.getElementById('myCanvas'); 
  var context = canvas.getContext('2d'); 
  context.fillRect(0, 0, 50, 50);
  context.beginPath(); 
  context.moveTo(0, 0); 
  context.lineTo(100, 100); 
  context.lineWidth = 1; 
  context.strokeStyle = 'rgb(21, 128, 19)'; 
  context.stroke();
</script>

</html>

