<!DOCTYPE html>
<html>

<div class = "row" style = "height: 50px;"></div>

  <div >
    <div class="row" style = "height: 500px;">
      <div class = "col-3">
      </div>

      <div class="col-md-6 bg">
      
        <div class = "row" style = "height: 75px;">
        </div>

        <h1 class='text-center' style="color:#537A5A;text-shadow: 0 0 3px #537A5A, 0 0 5px #9AE19D ;">Welcome to Plant-Clinique</h1> 
        
        <div id="clearance" class="sign-in">
          <%= render partial: '/sessions/form' -%>
        </div>

      </div>
    </div>
    <div class = "col-3">
    </div>
  </div>      

<div class = "row" style = "height: 450px;"></div>
<!-- https://codepen.io/MAW/pen/KdmwMb -->
<body>
        <div class="page">
            <div class="anim">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </body>


</html>





