<div style = "background-color: #98FFB3; ">
    <div class="row" style = "height: 330px;">
    <div class = "col-3"></div>
        <div class="col-md-6 bg-editL" style="height: 600px; background-color: green; ">
        <div class = "row text-center" style = "height: 50px;"></div>
        <h1 class='text-center'  style="color:Black;"> Editing Reply</h1>

        <%= render 'form', reply: @reply %>
        <div style="color:yellow"> 
            <%= link_to 'Back', Post.where(id: @reply.post_id).first %>
        </div>

        </div>
    </div>
</div>

<div style="height:355px;"> </div>
