<div >
  <div class="row" style = "height: 430px;">
    <div class = "col-3">
    </div>
    <div class="col-md-6 bg-rem" style="height: 600px; background-color: green; border: 5px solid green; border-radius: 25px;">
      <div class = "row text-center" style = "height: 50px;"> </div>
      <h1 class='text-center'  style="color:white;"> Editing Reminder </h1>
            <%= render 'form', reminder: @reminder %>
       <div> 
            <%= link_to 'Show', @reminder, class: "btn btn-sm text-dark ", style: "background-color: #9AE19D;"%> 
            <%= link_to 'Back', reminders_path, class: "btn btn-sm text-dark ", style: "background-color: #9AE19D;"%> 
        </div>
    </div>
  </div>
</div>

<div style="height:555px;"> </div>