<div >
  <div class="row" style = "height: 430px;">
    <div class = "col-3">
    </div>

    <div class="col-md-6 bg-leaves" style="height: 600px; background-color: green; border: 5px solid green; border-radius: 25px;">

      <div class = "row text-center" style = "height: 50px;">
      </div>

      <h1 class='text-center'  style="color:white;">Sign up</h1>

      <%= render 'form', user: @user -%>

    </div>
  </div>
</div>

<div style="height:555px;"> </div>
