<div >
  <div class="row" style = "height: 430px;">
    <div class = "col-3">
    </div>

<<<<<<< HEAD
    <div class="col-md-6 bg-leaves" style="height: 600px; background-color: green; border: 5px solid green; border-radius: 25px;">
=======
    <div class="col-md-6 bg-leaves" style="height: 600px; background-color: green;">
>>>>>>> aee3c0b4ab6d33d2589c2d7082358ec1bb3ee757

      <div class = "row text-center" style = "height: 50px;">
      </div>

      <h1 class='text-center'  style="color:yellow;">Sign up</h1>

      <%= render 'form', user: @user -%>

    </div>
  </div>
</div>

<div style="height:255px;"> </div>
