<div class="bg-white rounded p-3">
  <h1>Editing User Plant</h1>

  <%= render 'form', user_plant: @user_plant %>

  <div class="m-2 submit-field">
    <%= link_to 'Back', user_plants_path, class: "mt-2 btn btn-dark text-light"  %>
  </div>
</div>
