<body style = "background-color: #23DA8D">
  </div>
  <div class="center">
    <h2>plant plant plant plant, plant :)</h2>
    <br/>
    <p>
      here is where we put plant functionality.
    <p>

    here's a sign up button <%= link_to "Sign up", signup_path, class: "btn btn-warning" %>
    go nuts
       
  </div>
</body>