<div class="card my-5" style="box-shadow: 0px 4px 10px grey">
  <div class="card-body" style="background-image: url('https://cdn.pixabay.com/photo/2017/10/11/17/08/plant-2841719_1280.jpg');
      background-size: cover;width: 100%;height: 110%;display: inline-block;background-position: center; background-repeat: no-repeat; background-attachment:fixed;">
    <h1>New Post</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path, class: 'btn btn-dark text-light mt-2' %>
  </div>
</div>

<div style="height:250px;"> </div>
