/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
  text-align: center;
  color: brown;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Brush Script MT', cursive;

 }
 .body {
  margin: 0;
  padding: 0;
}

/* hoizontally scrolling elements */ 
  
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}


/***********************************/ 





/*************/
.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.notification {
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

