// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-right {
    float:right;
    padding-right:10px;
    padding-left:10px;
}

.button-right-up {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .post-back {
    background: #EFF69B !important;  
    box-shadow: 0px 4px 10px grey; 
    padding-bottom:10px;

  }

  .post-bottom {
    height:500px;
  }

