// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-right {
    float:right;
    padding-right:10px;
    padding-left:10px;
}



.button-right-up {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .post-card {
      background-color: #F7DC6F;

  }
  .post-back {
    background: #EFF69B !important;  
    box-shadow: 0px 4px 10px grey; 
    padding-bottom:10px;

  }

  .post-bottom {
    height:500px;
  }

  .post-bottom-2 {
    height:200px;
  }



  .dropbtn {
    background-color: #0b7c07;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #0b7c07;
    
  }
  
  .dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    display: block;
    width: 100%;
    border: none;
  }
  
  .dropdown-content-button:hover {background-color: #ddd;}
  
  .show {display: inline;}

  .bg-drop {
    /* The image used */
    background-image: url('dropplant.png');
    background-size: cover;
    display: inline-block;
    
    width: 100%;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    position: absolute;

    
    /* Full height */
    
    /* Center and scale the image nicely */
    background-color: #ffffff;
    }
