// Place all the styles related to the Replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-editL {
    /* The image used */
    background-image: url('edit_leafe.jpg');
    background-size: cover;
    display: inline-block;
    position: absolute;
  
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
  
  
    /* Full height */
  
    /* Center and scale the image nicely */
    background-color: #ffffff;
  }