// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.bg-leaves {
  /* The image used */
  background-image: url('sign_up_background.jpg');
  background-size: cover;
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;
  display: inline-block;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment:fixed;


  /* Full height */

  /* Center and scale the image nicely */
  background-color: #ffffff;
}

.active {
  background-color: lightgreen;
  border-radius: 10px;
}

.leaf-background {
    /* The image used */
    background-image: url('account-background.webp');
    background-size: cover;
    
    width: 100%;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    opacity: .9;
    
    /* Full height */
    
    /* Center and scale the image nicely */
    background-color: #ffffff;
    }



  .box {
    background-color: #fff;
    padding: 2em;
    height: 120px;
  }
  
  .box p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .center-right {
    position: absolute;
    bottom: 0px;
    right: 16px;
    font-size: 18px;
  }

  .center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  .space {
    float:right;
    padding-right:10px;
    padding-left:10px;
    margin: 10px;
  }
    
.plant-item {
  color:black;
}
 

