<div class="row bg-light rounded p-3">
  <div class="col">
    <%= button_to 'Restart', wizard_path(:choose_visit_type), {class: "btn btn-dark btn-sm", method: "get"}%>
  </div>
  <div class="col-9 pb-5">
    <h2 class="text-center p-4">
      <%= @prompt %>
    </h2>
    <!-- Buttons take to the next step (check steps over at app/controllers/chatbot_steps_controller.rb) -->
    <% @possible_treatments.each do |treatment| %>
      <div class="bg-warning rounded p-2 m-3">
        <%= treatment %>
      </div>
    <% end %>
  </div>
  <div class="col">
    
  </div>
</div>

