<p id="notice"><%= notice %></p>
<div class=' text-center rounded' style="height:500px; border-radius: 10px; background-color: white; border: 2px solid green;color: green;">
  <h2 class='pt-2 px-2'>Search for plant stores by choosing a location or allowing location access.</h2>
  <div id='map' class='p-3 centered' style="height:80%;width:100%;"></div>
</div> 
<div class="bottom-layer-2"></div>

<%= javascript_pack_tag 'map' %>

<div style="height: 300px;"></div>
