<p id="notice"><%= notice %></p>

<h1>Store Locators</h1>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1n5TDp9aPg7PAYf63jPBS0mUGTAc" width="640" height="480"></iframe>

<br>

<%= link_to 'New Store Locator', new_store_locator_path %>
