<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: green;
            color: white;
            text-align: center;
            }
            </style>
    </head>
        <body>


        <div class="footer">
            <p>link to: git, homepage, doccumentation, support, terms of serive, pricacy, cookies, copyright @ pito </p>
        </div>

        </body>
</html> 

<!-- if we want to have this on every page we can just put it in the application
.html.erb otherwise we remove it from their and make sure that it's used on everything 
we use >